<div class="form-group">
    <h3>{{localize "CORE-EXPANDED.STATUSEFFECTS.Title"}}</h3>
    <p class="notes">{{localize "CORE-EXPANDED.STATUSEFFECTS.Label"}}</p>
</div>
<div class="expandedCoreManagement">
    <div class="expandedCoreEditor">
        <div class="form-group">
            <label>{{localize "CORE-EXPANDED.STATUSEFFECTS.Id"}}</label>
            <div class="form-fields">
                <input tabindex="-1" type="text" name="statusEffectId" data-dtype="String"
                    value="{{activeStatusEffect.id}}" {{#unless activeStatusEffect.isCustom}}disabled{{/unless}} />
            </div>
            <p class="notes">{{localize "CORE-EXPANDED.STATUSEFFECTS.IdLabel"}}</p>
        </div>
        <div class="form-group">
            <label>{{localize "CORE-EXPANDED.STATUSEFFECTS.Name"}}</label>
            <div class="form-fields">
                <input tabindex="-1" type="text" name="statusEffectName" data-dtype="String"
                    value="{{activeStatusEffect.name}}" {{#if (not activeStatusEffect.isCustom)}}disabled{{/if}} />
            </div>
            <p class="notes">{{localize "CORE-EXPANDED.STATUSEFFECTS.NameLabel"}}</p>
        </div>
        <div class="form-group">
            <label>{{localize "CORE-EXPANDED.STATUSEFFECTS.Icon"}}</label>
            <div class="form-fields">
                <img class="coreExpandedStatusEffectIcon" {{#if activeStatusEffect.icon}}src="{{activeStatusEffect.icon}}"{{/if}}
                    title="{{activeStatusEffect.name}}" />
                <button class="file-picker" type="button" data-type="image" data-target="statusEffectIcon"
                    title="{{localize " CORE-EXPANDED.STATUSEFFECTS.Browse"}}" tabindex="-1">
                    <i class="fas fa-file-import fa-fw"></i>
                </button>
                <input tabindex="-1" class="image" type="text" name="statusEffectIcon" value="{{activeStatusEffect.icon}}" />
            </div>
            <p class="notes">{{localize "CORE-EXPANDED.STATUSEFFECTS.IconLabel"}}</p>
        </div>
        <div class="form-group">
            <label>{{localize "CORE-EXPANDED.STATUSEFFECTS.Active"}}</label>
            <div class="form-fields">
                <input tabindex="-1" type="checkbox" name="statusEffectActive" data-dtype="Boolean" {{checked
                    activeStatusEffect.active}} />
            </div>
            <p class="notes">{{localize "CORE-EXPANDED.STATUSEFFECTS.ActiveLabel"}}</p>
        </div>
        <div class="coreExpandedButtons">
            <button type="button" data-action="clearStatusEffect">{{localize
                "CORE-EXPANDED.STATUSEFFECTS.ClearCustom"}}</button>
            <button type="button" data-action="updateStatusEffect">{{#if activeStatusEffect.isCustom}}{{localize
                "CORE-EXPANDED.STATUSEFFECTS.ModifyCustom"}}{{else}}{{localize
                "CORE-EXPANDED.STATUSEFFECTS.UpdateCore"}}{{/if}}</button>
            {{#if activeStatusEffect.allowIconReset}}<button type="button" data-action="reset-icon">{{localize "CORE-EXPANDED.STATUSEFFECTS.ResetCoreEffect"}}</button>{{/if}}
            <button type="button" data-action="resetStatusEffects">{{localize "CORE-EXPANDED.STATUSEFFECTS.ResetStatusEffects"}}</button>
        </div>
    </div>
    <div class="status-effects">
        {{#each statusEffects}}
        <img class="effect-control {{#if active}}active{{/if}}" src="{{icon}}" {{#if label}}title="{{label}}" {{/if}}
            data-action="status-effect" data-status-id="{{id}}" />
        {{/each}}
    </div>
</div>
<hr />
<div class="form-group">
    <h3>{{localize "CORE-EXPANDED.TEMPLATES.Title"}}</h3>
    <p class="notes">{{localize "CORE-EXPANDED.TEMPLATES.Label"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.TEMPLATES.ConeEnabled"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="Core.Templates.Cone.enableOverride" data-dtype="Boolean" 
        {{checked Core.Templates.Cone.enableOverride}} />
        <input type="number" name="Core.Templates.Cone.overrideAngle" data-dtype="Number"
            value="{{Core.Templates.Cone.overrideAngle}}" {{disabled (not Core.Templates.Cone.enableOverride)}} />
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.TEMPLATES.ConeLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.TEMPLATES.RayEnabled"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="Core.Templates.Ray.enableOverride" data-dtype="Boolean" 
        {{checked Core.Templates.Ray.enableOverride}} />
        <input type="number" name="Core.Templates.Ray.overrideAngle" data-dtype="Number"
            value="{{Core.Templates.Ray.overrideAngle}}" {{disabled (not Core.Templates.Ray.enableOverride)}} />
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.TEMPLATES.RayLabel"}}</p>
</div>
<hr />
<div class="form-group">
    <h3>{{localize "CORE-EXPANDED.FILEPICKER.Title"}}</h3>
    <p class="notes">{{localize "CORE-EXPANDED.FILEPICKER.Label"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.FILEPICKER.DefaultDirectoryOverride"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="Core.FilePicker.alwaysUseDefaultDirectory" data-dtype="Boolean" 
        {{checked Core.FilePicker.alwaysUseDefaultDirectory}} />
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.FILEPICKER.DefaultDirectoryOverrideLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.FILEPICKER.DefaultDirectory"}}</label>
    <div class="form-fields">
        {{filePicker type="folder" target="Core.FilePicker.defaultDirectory"}}
        <input tabindex="-1" class="image" type="text" name="Core.FilePicker.defaultDirectory"
            value="{{Core.FilePicker.defaultDirectory}}" />
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.FILEPICKER.DefaultDirectoryLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.FILEPICKER.DisplayModeOverride"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="Core.FilePicker.alwaysUseDisplayMode" data-dtype="Boolean" 
        {{checked Core.FilePicker.alwaysUseDisplayMode}} />
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.FILEPICKER.DisplayModeOverrideLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.FILEPICKER.DisplayMode"}}</label>
    <div class="form-fields">
        <select name="Core.FilePicker.displayMode">
            <option value="null">{{localize "Default"}}</option>
            {{selectOptions displayModes selected=Core.FilePicker.displayMode nameAttr="key" labelAttr="label"}}
        </select>
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.FILEPICKER.DisplayModeLabel"}}</p>
</div>
{{#unless isFVTTV9}}
<hr />
<div class="form-group">
    <h3>{{localize "CORE-EXPANDED.TOKENS.Title"}}</h3>
    <p class="notes">{{localize "CORE-EXPANDED.TOKENS.Label"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.TOKENS.EnableOverrideSpeed"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="Core.Tokens.overrideSpeed" data-dtype="Boolean" {{checked Core.Tokens.overrideSpeed}} />
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.TOKENS.EnableOverrideSpeedLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.TOKENS.OverrideSpeed"}}</label>
    <div class="form-fields">
        <input type="range" min="1" max="50" step="1" name="Core.Tokens.MovementSpeed" data-dtype="Number" value="{{Core.Tokens.MovementSpeed}}" />
        <span class="range-value">{{Core.Tokens.MovementSpeed}}</span>
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.TOKENS.OverrideSpeedLabel"}}</p>
</div>
{{/unless}}