<div class="form-group">
    <h3>{{localize "CORE-EXPANDED.JOURNAL.Title"}}</h3>
    <p class="notes">{{localize "CORE-EXPANDED.JOURNAL.Label"}}</p>
</div>
<div class="expandedCoreManagement">
    <div class="expandedCoreEditor">
        <div class="form-group">
            <label>{{localize "CORE-EXPANDED.JOURNAL.OverrideEnabled"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="Journal.OverrideEnabled" data-dtype="Boolean" {{checked Journal.OverrideEnabled}} />
            </div>
            <p class="notes">{{localize "CORE-EXPANDED.JOURNAL.OverrideEnabledLabel"}}</p>
        </div>
        <div class="form-group">
            <label>{{localize "CORE-EXPANDED.JOURNAL.SideBarCollapsed"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="Journal.SideBarCollapsed" data-dtype="Boolean" {{checked Journal.SideBarCollapsed}} />
            </div>
            <p class="notes">{{localize "CORE-EXPANDED.JOURNAL.SideBarCollapsedLabel"}}</p>
        </div>
        <div class="form-group">
            <label>{{localize "CORE-EXPANDED.JOURNAL.DefaultView"}}</label>
            <div class="form-fields">
                <select name="Journal.DefaultView">
                    {{selectOptions defaultViews selected=Journal.DefaultView}}
                </select>
            </div>
            <p class="notes">{{localize "CORE-EXPANDED.JOURNAL.DefaultViewLabel"}}</p>
        </div>
    </div>
</div>