<div class="form-group">
    <h3>{{localize "CORE-EXPANDED.MAPNOTES.Title"}}</h3>
    <p class="notes">{{localize "CORE-EXPANDED.MAPNOTES.Label"}}</p>
</div>
<div class="expandedCoreManagement">
    <div class="expandedCoreEditor">
        <div class="form-group">
            <label>{{localize "CORE-EXPANDED.MAPNOTES.ENTRYICON.Name"}}</label>
            <div class="form-fields">
                <input tabindex="-1" type="text" name="entryIconName" data-dtype="String"
                    value="{{entryIcon.name}}" {{#if (not entryIcon.isCustom)}}disabled{{/if}} />
            </div>
            <p class="notes">{{localize "CORE-EXPANDED.MAPNOTES.ENTRYICON.NameLabel"}}</p>
        </div>
        <div class="form-group">
            <label>{{localize "CORE-EXPANDED.MAPNOTES.ENTRYICON.Icon"}}</label>
            <div class="form-fields">
                <img class="coreExpandedStatusEffectIcon" {{#if entryIcon.icon}}src="{{entryIcon.icon}}"{{/if}}
                    title="{{entryIcon.name}}" />
                <button class="file-picker" type="button" data-type="image" data-target="entryIconIcon"
                    title="{{localize "CORE-EXPANDED.MAPNOTES.ENTRYICON.Browse"}}" tabindex="-1" 
                    {{#if (not entryIcon.isCustom)}}disabled{{/if}}>
                    <i class="fas fa-file-import fa-fw"></i>
                </button>
                <input tabindex="-1" class="image" type="text" name="entryIconIcon"
                    value="{{entryIcon.icon}}" {{#if (not entryIcon.isCustom)}}disabled{{/if}} />
            </div>
            <p class="notes">{{localize "CORE-EXPANDED.MAPNOTES.ENTRYICON.IconLabel"}}</p>
        </div>
        <div class="form-group">
            <label>{{localize "CORE-EXPANDED.MAPNOTES.ENTRYICON.Active"}}</label>
            <div class="form-fields">
                <input tabindex="-1" type="checkbox" name="entryIconActive" data-dtype="Boolean" 
                {{checked entryIcon.active}} />
            </div>
            <p class="notes">{{localize "CORE-EXPANDED.MAPNOTES.ENTRYICON.ActiveLabel"}}</p>
        </div>
        <div class="coreExpandedButtons">
            <button type="button" data-action="clearEntryIcon">{{localize
                "CORE-EXPANDED.MAPNOTES.ENTRYICON.ClearCustom"}}</button>
            <button type="button" data-action="updateEntryIcon">{{#if entryIcon.isCustom}}{{localize
                "CORE-EXPANDED.MAPNOTES.ENTRYICON.ModifyCustom"}}{{else}}{{localize
                "CORE-EXPANDED.MAPNOTES.ENTRYICON.UpdateCore"}}{{/if}}</button>
            <button type="button" data-action="resetEntryIcons">{{localize "CORE-EXPANDED.MAPNOTES.ENTRYICON.ResetEntryIcons"}}</button>
        </div>
    </div>
    <div class="status-effects">
        {{#each entryIcons}}
        <img class="effect-control {{#if active}}active{{/if}}" src="{{icon}}" title="{{name}}"
            data-action="entryIcon" data-icon-id="{{name}}" />
        {{/each}}
    </div>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.MAPNOTES.EnableBackgroundTintOverride"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="MapNote.EnableBackgroundTintDisabling" data-dtype="Boolean" {{checked MapNote.EnableBackgroundTintDisabling}} />
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.MAPNOTES.EnableBackgroundTintOverrideLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.MAPNOTES.OverrideEnabled"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="MapNote.EnableOverride" data-dtype="Boolean" {{checked MapNote.EnableOverride}} />
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.MAPNOTES.OverrideEnabledLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.MAPNOTES.DefaultIcon"}}</label>
    <div class="form-fields">
        <select name="MapNote.DefaultIcon">
            <option value="null">{{localize "Default"}}</option>
            {{selectOptions defaultIcons selected=MapNote.DefaultIcon nameAttr="name" labelAttr="name"}}
        </select>
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.MAPNOTES.DefaultIconLabel"}}</p>
</div>
<div class="form-group">
    <label>{{ localize "CORE-EXPANDED.MAPNOTES.DefaultIconSize" }}</label>
    <div class="form-fields">
        <input type="number" name="MapNote.IconSize" value="{{MapNote.IconSize}}" data-dtype="Number"/>
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.MAPNOTES.DefaultIconSizeLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.MAPNOTES.IconTint"}}</label>
    <div class="form-fields">
        {{colorPicker name="MapNote.IconTint" value=MapNote.IconTint}}
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.MAPNOTES.IconTintLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.MAPNOTES.DefaultFont"}}</label>
    <div class="form-fields">
        <select name="MapNote.DefaultFont">
            <option value="null">{{localize "Default"}}</option>
            {{selectOptions fontFamilies selected=MapNote.DefaultFont}}
        </select>
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.MAPNOTES.DefaultFontLabel"}}</p>
</div>
<div class="form-group">
    <label>{{ localize "CORE-EXPANDED.MAPNOTES.FontSize" }}</label>
    <div class="form-fields">
        <input type="number" name="MapNote.FontSize" value="{{MapNote.FontSize}}" data-dtype="Number"/>
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.MAPNOTES.FontSizeLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.MAPNOTES.TextColor"}}</label>
    <div class="form-fields">
        {{colorPicker name="MapNote.TextColor" value=MapNote.TextColor}}
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.MAPNOTES.TextColorLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.MAPNOTES.TextAnchorPoint"}}</label>
    <div class="form-fields">
        <select name="MapNote.TextAnchorPoint">
            <option value="null">{{localize "Default"}}</option>
            {{selectOptions anchorPoints selected=MapNote.TextAnchorPoint}}
        </select>
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.MAPNOTES.TextAnchorPointLabel"}}</p>
</div>