<form class="flexcol" autocomplete="off">
    <nav class="sheet-tabs tabs" data-group="sections">
        <a class="item" data-tab="core">{{localize "CORE-EXPANDED.SETTINGS.Core"}}</a>
        <a class="item" data-tab="scene">{{localize "CORE-EXPANDED.SETTINGS.Scenes"}}</a>
        <a class="item" data-tab="mapnotes">{{localize "CORE-EXPANDED.SETTINGS.MapNotes"}}</a>
        {{#unless isFVTTV9}}
        <a class="item" data-tab="journal">{{localize "CORE-EXPANDED.SETTINGS.Journal"}}</a>
        {{/unless}}
    </nav>
    <section id="expandedCore-settings-tabs" class="content">
        <hr />
        <div class="tab" data-tab="core" data-group="sections">
            <div class="settings-list">
                {{> (lookup partials 'core') activeStatusEffect=activeStatusEffect statusEffects=statusEffects Core=settings.Core}}
            </div>
        </div>
        <div class="tab" data-tab="scene" class="content">
            <div class="settings-list">
                {{> (lookup partials 'scene') Scene=settings.Scene}}
            </div>
        </div>
        <div class="tab" data-tab="mapnotes" class="content">
            <div class="settings-list">
                {{> (lookup partials 'mapnote') MapNote=settings.MapNote entryIcon=entryIcon defaultIcons=defaultIcons anchorPoints=anchorPoints fontFamilies=fontFamilies}}
            </div>
        </div>
        {{#unless isFVTTV9}}
        <div class="tab" data-tab="journal" class="content">
            <div class="settings-list">
                {{> (lookup partials 'journal') Journal=settings.Journal defaultViews=defaultViews}}
            </div>
        </div>
        {{/unless}}
    </section>
</form>