#expandedCore-settings-tabs > div.tab > div.settings-list {
    content: '';
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    padding-right: 0.5em;
}

#expandedCore-settings-tabs .expandedCoreManagement {
    display: flex;
    justify-content: space-between;
}

#expandedCore-settings-tabs .coreExpandedStatusEffectIcon {
    width: 24px;
    max-width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
}

#expandedCore-settings-tabs .coreExpandedButtons {
    display: flex;
    justify-content: space-between;
}

#expandedCore-settings-tabs .coreExpandedButtons > button {
    line-height: 20px;
}

#expandedCore-settings-tabs .status-effects {
    margin-left: 1rem;
    display: grid;
    padding: 3px;
    box-sizing: content-box;
    min-width: 100px;
    width: 100px;
    grid-template-columns: repeat(4, 25%);
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px var(--color-shadow-dark);
    border: 1px solid var(--color-border-dark-3);
    border-radius: 4px;
    pointer-events: all;    
}

#expandedCore-settings-tabs .status-effects img {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0.5;
}    

#expandedCore-settings-tabs .status-effects img.active {
    opacity: 1;
}